@charset "UTF-8";

   @font-face {
    font-family: 'arcade-out';
    src: url(_/8-bit\ Arcade\ Out.ttf);
}
  @font-face {
    font-family: 'arcade-in';
    src: url(_/8-bit\ Arcade\ In.ttf);
  }
  @font-face {
    font-family: 'pixeled';
    src: url(_/Pixeled.ttf);
  }

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #141414;
    height: 200px;
}
header h1{
    font-family: 'arcade-out';
    font-size: 8em;
    color: rgb(54, 23, 128);
    position: absolute;
    top: 8%;
    left: 10%;
}
body{
    background-color: #141414;
}
div#div-mestre{
    margin: auto;
    text-align: center;
}
section{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 30px;
    overflow-y: auto;
    scrollbar-width: none;
    display: inline-block;
    
    background-color: #111111;
    /*Border*/
    box-shadow: inset -3px 3px 10px 3px rgba(8, 8, 8, 0.384);
}
div.lateral{
    width: 40px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
    display: inline-block;
    
}
div#desafios{
    background-color: rgba(99, 21, 25, 0.719);
}
div#exercicios{
    background-color: rgba(12, 65, 126, 0.74);
}
div#treino{
    background-color: rgba(163, 180, 8, 0.705);
}
h2{
    font-family: 'arcade-in';
    font-size: 3em;
    color: rgb(156, 156, 156);
    display: inline-block;
}
li {
    
    font-family: 'pixeled';
    font-weight: lighter;
    font-size: 1em;
    line-height: 2em;
    color: #74787c;
    margin-left: 10px;
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: #74787c;
}
.lista-interna{
    
    font-size: 0.8em;
    left: 4%;
    position: relative;
    list-style: circle;
}
div.lista{
    
    height: 37s0px;
    overflow-y: auto;
    scrollbar-width: none;
}
.lista > ul{
    margin: 20px;
    padding: 10px;
    text-align: left;
}
